@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme inline {
    --font-sans: var(--font-inter);
}

@layer utilities {
    body {
        @apply prose mx-auto leading-6 p-8;
        font-family: var(--font-inter), sans-serif;
    }

    code {
        padding: 2px 5px;
        background-color: #f2f2f2;
    }

    pre > code {
        all: unset;
    }

    a {
        color: #3273dc;
    }

    nav a {
        margin-right: 10px;
    }
}
