@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	body {
		@apply prose mx-auto leading-6 p-6;
		font-family: Verdana, sans-serif;
	}

	code {
		padding: 2px 5px;
		background-color: #f2f2f2;
	}

	pre>code {
		all: unset;
	}

	a {
		color: #3273dc;
	}

	nav a {
		margin-right: 10px;
	}
}