---
import MainLayout from "../layouts/MainLayout.astro";
---

<!DOCTYPE html>
<MainLayout>
    <main>
        <ul>
            <li>https://sharats.me/posts/shell-script-best-practices/</li>
        </ul>
    </main>
</MainLayout>
