---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout>
    <main>
        Welcome to my personal web page. My name is Jonathan and this is where I share food recipes and professional
        learnings.
    </main>
</MainLayout>
