---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <main>
        <h1>Hello, I'm Jonathan!</h1>
        <p>
            I'm a software engineer based in Sweden, with a passion for working across the stack. Currently, my focus
            lies
            in cloud-native technologies. I've created this website as a personal platform to
            document my learnings and accomplishments. Feel to to check out my <a href="/blog">blog</a>!
        </p>
    </main>
</MainLayout>
